<div class="card h-100 border-secondary bg-light">
  <!-- Contenedor para que las img ocupen su espacio -->
  <div class="d-flex justify-content-center align-items-center overflow-hidden" style="height: 200px;">
    <img 
      [src]="product.image"
      [alt]="product.name" 
      class="img-fluid w-100 h-100"
    >
  </div>

  <!-- Cuerpo de la card -->
  <div class="card-body">
    <h3 class="card-title text-truncate text-dark">{{ product.name }}</h3>
    <p class="card-text text-muted">{{ product.description }}</p>
    <p class="card-text text-dark text-capitalize"><strong>Categoría:</strong> {{ product.category }}</p>
    <p class="card-text">
      <strong>Estado:</strong>
      <span 
        class="badge" 
        [ngClass]="{'bg-success': product.active, 'bg-danger': !product.active}"
      >
        {{ product.active ? 'Activo' : 'Inactivo' }}
      </span>
    </p>
    <p class="card-text text-dark"><strong>Precio:</strong> {{ product.price }}€</p>
  </div>
  <div class="card-footer bg-light border-top-0">
    <button class="btn btn-danger w-100 text-light" (click)="onDelete()">Eliminar</button>
  </div>
</div>
